svg {
  width: 100%;
}

#chart p {
  font: 20px sans-serif;
}

#chart {
  font: 12px sans-serif;
}

.sb-text {
  font: 10px sans-serif;
}

.sb-rect {
  fill: #FF9500;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.area.levelLine {
  fill: #FF9500;
}

path.line.levelLine {
  fill: none;
  stroke: #E66000;
  stroke-width: 1.5px;
}

path.line.estimationLine {
  fill: none;
  stroke: #4D4E53;
  stroke-width: 1.5px;
}

path.area.estimationLine {
  fill: #EAEFF2 ;
}
.stackedbar {
  fill: #EAEFF2 ;
}

.bb {
  fill: 'orange';
}

