svg {
  border: 1px solid black;
  width: 100%;
}

p {
  font: 40px sans-serif;
}

body {
  font: 30px sans-serif;
}

.sb-text {
  font: 20px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.area.levelLine {
  fill: #FF9500;
}

path.line.levelLine {
  fill: none;
  stroke: #E66000;
  stroke-width: 1.5px;
}

path.line.estimationLine {
  fill: none;
  stroke: #4D4E53;
  stroke-width: 1.5px;
}

path.area.estimationLine {
  fill: #EAEFF2 ;
}
.stackedbar {
  fill: #EAEFF2 ;
}

.bb {
  fill: 'orange';
}
